<% layout('layouts/boilerplate') %>

<div class="containet d-flex flex-column mx-auto" style="width: 350px">
  <a class="nav-link" href="/notes/new">New Note</a>
  <% for (let note of notes) { %>
  <div class="card my-3">
    <div class="card-body">
      <h5 class="card-title"><%=note.note%></h5>
      <a href="/notes/<%=note._id%>" class="btn btn-primary">Details</a>
    </div>
  </div>
  <% } %>
</div>
